<% projs = hackday.projects %>
<% if !hackday.votable %>
  <% projs = projs.sort_by { |proj| -proj.votes } %>
<% end %>
<ul>
  <% projs.each do |proj| %>
    <li>
      <span class="project-details">
        <b><%= proj.name %></b> (by <%= proj.creators %>)
      </span>
      <% if hackday.votable %>
        <% if session[:"votes_#{hackday.id}"].to_i < ProjectsController::MAX_VOTES %>
          <span class="project-votes">
            <%= form_for(proj) do |f| %>
              <%= f.submit "Vote" %>
            <% end %>
          </span>
        <% end %>
      <% else %>
        <span class="project-votes">
          -- <%= proj.votes %> votes
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
