<% if hackday.votable %>
  <ul>
    <% hackday.projects.each do |proj| %>
      <li>
        <span class="project-details">
          <b><%= proj.name %></b> (by <%= proj.creators %>)
        </span>
        <% if session[:"votes_#{hackday.id}"].to_i < ProjectsController::MAX_VOTES %>
          <span class="project-votes">
            <%= form_for(proj) do |f| %>
              <%= f.submit "Vote" %>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% projs = hackday.projects.sort_by { |proj| -proj.votes } %>
    <% projs.each do |proj| %>
      <li>
        <span class="project-details">
          <b><%= proj.name %></b> (by <%= proj.creators %>)
        </span>
        <span class="project-votes">
          -- <%= proj.votes %> votes
        </span>
      </li>
    <% end %>
  </ul>
<% end %>
